.write_area{width: 1000px; margin: 20px auto;}
.write_area > li{ width: 100%; padding: 10px;}
.write_area > li > p{margin-bottom: 10px;}
.write_area > li > input{width: 100%; height: 45px; padding: 10px;}
.write_area > li > input[type="file"]{border: 1px solid #9b9b9b; background: #fff;}
textarea{width: 100%; min-height: 350px; resize: none; padding: 10px;}

/* 첨부 파일 */
.file-input {display: inline-block; text-align: left; background: #fff; padding: 5px; width: 100%;  height: 40px; position: relative; border:1px solid #9b9b9b;}
.file-input > [type='file'] {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 10; cursor: pointer;}
.file-input > .button {display: inline-block; cursor: pointer; background: #9b9b9b; color: #fff; padding: 3px 10px; border-radius: 2px; margin: 0 10px;}
.file-input:hover > .button {background: #4753fe; color: white;}
.file-input > .label {color: #333; opacity: .3;}
.file-input.-chosen > .label {opacity: 1;}


.submit_btn{ width: 1000px; margin: 20px auto;}
.submit_btn:after{content: ""; display: block; clear: both;}
.submit_btn > input{width: 180px; border-radius: 8px; cursor: pointer;}
.submit_btn > input:nth-of-type(1){float: left; margin-left: 10px; height: 40px; background: #9b9b9b  linear-gradient( to bottom, #9d9d9d, #707070 ); border: 1px solid #9b9b9b; cursor: pointer; color: #fff; font-size: 16px;}
.submit_btn > input:nth-of-type(2){float: right; margin-right: 10px;}