@import url(reset.css);


body{background: #f1f1f1; font-size: 18x;}
a{text-decoration: none; color: #222;}
*{box-sizing: border-box}
button , a {cursor: pointer;}
.content{position: relative; width: 1500px; margin: 0 auto; padding-top: 200px;}
input[type="button"]{cursor: pointer;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}

/* 검색 */
select{margin:0; background: #ffffff url('../images/drop_down.png')no-repeat 90% 50%; background-size: 10px auto; appearance: none; -webkit-appearance:none; border:0; text-indent:10px; outline:none; font-size: 16px; border: 1px solid #9b9b9b;}
select:focus{outline:none;}

.blue_btn{height: 40px; width: 70px; background: #4753fe  linear-gradient( to bottom, #7079ff, #4753fe ); border: 1px solid #4753fe; cursor: pointer; color: #fff; font-size: 16px;}


/* 기간 검색 */

[type="date"]::-webkit-inner-spin-button {display: none;}
[type="date"]::-webkit-calendar-picker-indicator {opacity: 0; padding: 10px; cursor: pointer;}
[type="date"] {height: 40px; padding: 5px; border: 1px solid #9b9b9b; background: #fff url(../images/calendar.png)  97% 50% no-repeat ; background-size: 30px; box-sizing: border-box;}

/* 위치 중앙맞추기 */
.center{position: absolute; top: 50%; left: 50%; transform: translate(-50% ,-50%);}
.center_y{position: absolute; top: 50%; transform: translateY(-50%)}
.center_x{position: absolute; left: 50%; transform: translateX(-50%)}

/* table */

table{width: 100%; margin-top: 30px; font-size: 16px; text-align: center; ;}

table > thead > tr{width: 100%;}
table > thead > tr > th {background: #d7d7e4; height: 50px; line-height: 1.2; border-right: 2px solid #f1f1f1; text-align: center; padding: 0 8px; box-sizing: border-box;}
table > thead > tr > th:first-child{padding: 0 9px;}
table > thead > tr > th:last-of-type{border: 0;}
table > tbody > tr{cursor: pointer;}
table > tbody > tr > td {background: #fff; height: 40px; border-right: 2px solid #f1f1f1;  border-bottom: 2px solid #f1f1f1; padding: 0 3px; box-sizing: border-box;}
table > tbody > tr > td:last-child{border-right: 0;}
table > tbody > tr:last-child > td{border-bottom: 0;}

/* 페이지 번호 */
.page_num{position: relative; left: 50%; transform: translateX(-50%); display: inline-block; margin: 20px 0 30px;}
.page_num > span{display: flex; align-items: center;}
.page_num > span > a{display: block; padding: 5px 10px; margin: 0 5px;}

.page_num > span > a.active{background: #4753fe; color: #fff;}

.page_num > .arrow{}
.page_num > .arrow > a{position: absolute; top: 50%; transform: translateY(-50%); width: 30px; height: 30px; list-style: 30px;}
.page_num > .arrow > a > img{position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%);}
.page_num > .arrow > .left_arrow{left: -30px;}
.page_num > .arrow > .right_arrow{right: -30px;}

/*pop_up */
.pop_up{display: none; z-index: 100; width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: absolute; top: 0; left: 0;}
.pop_inner{width: 1000px; height: auto; padding: 40px 30px; box-sizing: border-box; background: #fff; border-radius: 10px; font-size: 16px;}
.pop_content{width: 100%; margin-bottom: 30px;}
.pop_content:after{content: ""; display: block; clear: both;}
.pop_content > li{float: left;}
.pop_content > li:last-child{float: right;}
.pop_inner input{height: 40px; padding: 5px; border: 1px solid #9b9b9b;}
.pop_inner select{border: 1px solid #9b9b9b;}

.pop_content > li > div > span{display: inline-block; vertical-align: middle; padding: 0 5px; font-size: 14px;}
.pop_content > li > div > input{font-size: 16px;}
.pop_content > li > div{margin-bottom: 10px; display: flex; align-items: center;}

.close_btn{display: inline-block; position: absolute; top: 20px; right: 30px; width: 25px; height: 25px;}
.close_btn > img{width: 25px; height: 25px;}

.pop_inner select{height: 40px; padding: 5px;}