
.franchisee_count{position: relative; float: left; width: 18%; height: 40px; background: #fff; box-shadow: 2px 2px 5px rgba(0,0,0,.2); line-height: 40px; text-indent: 15px; margin-right: 130px;}
.franchisee_count > span{color: #4753fe; font-weight: bold; position: absolute; right: 20px;}
/* 검색 */
.search_area{width: 100%;}
.search_area:after{content: ""; display: block; clear: both;}
.search_area > div{height: 40px;}
.search_area > div > span{margin-right: 10px; vertical-align: middle;}
.search_area > div > select{background-color: #fff; border: 1px solid #9b9b9b;}
/* 기본검색 */
.search{position: relative; float: left; width: 40%; margin-right: 14px}
.search > select{display: inline-block; height: 40px; width: 150px; padding: 5px; box-sizing: border-box; vertical-align: middle;}
.search > .search_txt{position: absolute; top: 0; display: inline-block; width: 500px; height: 100%; border: 1px solid #9b9b9b; background: #fff; margin-left: -1px;}
.search > .search_txt > input{width: 100%; height: 36px; padding: 5px 50px 5px 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 0; right: 10px; width: 35px; height: 35px;}

/* 검색 정렬 */

.order_search{position: relative; float: right; width: 25%;}
.order_search > select{display: inline-block; height: 40px; width: 240px; padding: 5px; box-sizing: border-box; vertical-align: middle;}
.order_btn{position: absolute; right: 0; top: 0;}
.order_btn > button{width: 45px; height: 40px; position: absolute; border: 1px solid #9b9b9b; background: #fff; padding: 13px;}

.order_btn > .order_up{right: 44px;}
.order_btn > .order_down{right: 0;}

/* pop up */
.franchisee_pop > .top{width: 900px; height: 50px; margin: 0 auto; margin-top: 10px; margin-bottom: 10px;}
.franchisee_pop > .top:after{content: ""; display: block; clear: both;}
.franchisee_pop > .top > div{float: left;}
.franchisee_pop > .top > div:nth-of-type(2){margin-left: -1px;}
.franchisee_pop > .top > div:last-of-type{margin-left: -1px; line-height: 1; width: 25 background: pink}
.franchisee_pop > .top > div > span{display: inline-block; height: 40px; vertical-align: middle; line-height: 40px; padding: 0 10px; border: 1px solid #9b9b9b;}
.franchisee_pop > .top > div > .submit_result{width: 80px; text-align: center; margin-left: -1px; color: #4753fe; font-weight: 600;}
.franchisee_pop > .top > div > input{width: 150px; margin-left: -1px;}
.franchisee_pop > .top > .join_submit {width: 150px; margin-left: 10px;}

.pop_content input,
.franchisee_pop > .top > div > input{border: 1px solid #9b9b9b;}
.pop_content > .section_1{width: 46%;}
.pop_content > .section_1 > div{}
.pop_content > .section_1 > div > span{width: 90px;}
.pop_content > .section_1 > div > input{width: 330px;}

.pop_content > .section_2{width: 25%; margin-left: 13px;}
.pop_content > .section_2 > div{}
.pop_content > .section_2 > div > span{width: 80px;}
.pop_content > .section_2 > div > input{width: calc(100% - 80px);}
.pop_content > .section_2 > div > select{width: calc(100% - 80px);}

.pop_content > .section_3{width: 25%;}
.pop_content > .section_3 > div{}
.pop_content > .section_3 > div > span{width: 90px;}
.pop_content > .section_3 > div > input{width: calc(100% - 90px)}
.pop_content > .section_3 > div > select{width: calc(100% - 90px)}

/* pop up button */
.button{width: 600px; margin: 0 auto;}
.button > button{display: inline-block; float: left; width: 25%; height: 40px; background: #fff; border: 1px solid #9b9b9b; font-size: 18px; margin-right: -1px; cursor: pointer;}
.button > button:hover, .button > button:focus {background: #4753fe; color: #fff;}

/* 회원가입 승인 pop */
.join_pop{display: none; background: #fff; width: 600px; border-radius: 10px; font-size: 16px; text-align: center; padding: 30px;}
.join_pop > p{font-size: 25px; text-align: center; margin: 10px 0; font-weight: bold;}
.join_pop > div{margin: 20px 0;}
.join_pop > div > input{width: 150px; height: 40px; margin: 0 10px; cursor: pointer;}
.join_pop > div > input:nth-of-type(2){background: #707070; border: 0; color: #fff; font-size: 16px;}
.join_pop .inn_pop_close{
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;
}
.join_pop .inn_pop_close img{width: 100%;}