header{position: fixed; z-index: 100; width: 100%; box-shadow: 0 3px 5px rgba(0,0,0,.2); background: #ffffff;}
.top_wrap{width: 100%; border-bottom: 1px solid #9b9b9b;}
.top_inner{position: relative; width: 1500px; height: 100px; margin: 0 auto;}
.top_inner > .logo{position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%);}
.top_inner > .logo > img{width: 120px; height: auto;}
.top_inner > .login_box{float: right; margin: 30px 30px 0 0;}
.top_inner > .login_box > .logout_btn{border: 2px solid #4753fe; padding: 5px 30px; color: #4753fe; font-weight: 600;}

.main_menu{position: relative; width: 1500px; margin: 0 auto; padding: 5px 0;}
.main_menu > .menu_left:after{content: ""; display: block; clear: both;}
.main_menu > .menu_left{width: 90%; margin: 0 auto;}
.main_menu > .menu_left > li{position: relative; float: left; width: 8%; margin-right: 20px;  text-align: center; height: 60px;}
.main_menu > .menu_left > li:last-child{margin-right: 0;}
.main_menu > .menu_left > li > a{display: block; font-size: 23px; height: 100%;}
.main_menu > .menu_left > li > a > span{display: block; padding-top: 40%; font-size: 14px;}


/* menu icon */
.menu_left > li:nth-of-type(1) > a{background: url(../images/menu1.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li:nth-of-type(2) > a{background: url(../images/menu2.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li:nth-of-type(3) > a{background: url(../images/menu3.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li:nth-of-type(4) > a{background: url(../images/menu4.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li:nth-of-type(5) > a{background: url(../images/menu5.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li:nth-of-type(6) > a{background: url(../images/menu6.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li:nth-of-type(7) > a{background: url(../images/menu7.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li:nth-of-type(8) > a{background: url(../images/menu8.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li:nth-of-type(9) > a{background: url(../images/menu9.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li:nth-of-type(10) > a{background: url(../images/menu10.png) no-repeat 50% 5px; background-size: auto 55%;}


.main_menu > .menu_right{position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.main_menu > .menu_right:after{content: ""; display: block; clear: both;}
.main_menu > .menu_right > li{float: left; margin-left: 20px; width: 28px; height: 28px;}
.main_menu > .menu_right > li > a{display: block; width: 100%; height: 100%;}

.main_menu > .menu_right > li:nth-of-type(1) > a{background: url(../images/chat.png) no-repeat 50% 50%; background-size: contain;}
.main_menu > .menu_right > li:nth-of-type(2) > a{background: url(../images/setting.png) no-repeat 50% 50%; background-size: contain;}

/* active menu */
.menu_left > li.active::after{content: ""; display: inline-block; width: 100%; height: 3px; background: #4753fe; position: absolute; bottom: -6px; left: 0;}
.menu_left > li.active > a > span{color: #4753fe; font-weight: bold;}
.menu_left > li.active:nth-of-type(1) > a{background: url(../images/menu1_on.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li.active:nth-of-type(2) > a{background: url(../images/menu2_on.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li.active:nth-of-type(3) > a{background: url(../images/menu3_on.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li.active:nth-of-type(4) > a{background: url(../images/menu4_on.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li.active:nth-of-type(5) > a{background: url(../images/menu5_on.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li.active:nth-of-type(6) > a{background: url(../images/menu6_on.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li.active:nth-of-type(7) > a{background: url(../images/menu7_on.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li.active:nth-of-type(8) > a{background: url(../images/menu8_on.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li.active:nth-of-type(9) > a{background: url(../images/menu9_on.png) no-repeat 50% 5px; background-size: auto 55%;}
.menu_left > li.active:nth-of-type(10) > a{background: url(../images/menu10_on.png) no-repeat 50% 5px; background-size: auto 55%;}


.main_menu > .menu_right > li.active:nth-of-type(1) > a{background: url(../images/chat_on.png) no-repeat 50% 50%; background-size: contain;}
.main_menu > .menu_right > li.active:nth-of-type(2) > a{background: url(../images/setting_on.png) no-repeat 50% 50%; background-size: contain;}