/* 상단버튼 */
.top_more_btn{width: 28%; display: flex; align-items: center; justify-content: space-between;}
.top_more_btn > button{width: 24%; height: 40px; border-radius: 10px;}

/* 검색 */
.search_area{width: 100%; margin-top: 30px; display: flex; align-items: center; justify-content: space-between;}
.search_area > div{height: 40px;}
.search_area > div > span{width: 10%; display: block;}
.search_area > div > select{background-color: #fff; border: 1px solid #9b9b9b;}


/* 검색 정렬 */
.order_search{position: relative; width: 22%; display: flex; align-items: center;}
.search_area .order_search > select{display: inline-block; height: 40px; width: 180px; padding: 5px; border-right: 0;}
.order_btn{display: flex; width: 90px;}
.order_btn > button{width: 45px; height: 40px; border: 1px solid #9b9b9b; background: #fff; padding: 13px;}

.order_btn > .order_up{border-right: 0;}

/* 기간 검색 */
.term_search{
  position: relative;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.term_search >  input{border: 1px solid #c4c4c4;  background-color: #fff; width: 180px;}
.term_search > div > .opt_btn{
  height: 40px;
    width: 55px;
    background: linear-gradient( to bottom, #fff, #d5d5d5 );
    border: 1px solid #9b9b9b;
    margin-right: -7px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
}
.term_search > div > .blue_btn{margin-left: 8px;}

/* 기본검색 */
.search{width: 28%; display: flex; align-items: center;}
.search > .search_txt{position: relative; display: inline-block; width: 76%; height: 100%; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.search > .search_txt > input{width: 100%; height: 36px; padding: 5px 50px 5px 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 35px; height: 35px;}
.search_area > .search > span{width: 24%;}
/* tab menu */
.tab_menu{position: absolute; top: 250px;}
.tab_menu:after{content: ""; display: block; clear: both;}
.tab_menu > li{float: left; width: 230px; background: #707070; height: 40px; line-height: 40px; text-align: center; cursor: pointer;}
.tab_menu > li > a{color: #fff;}
.content > .tabcontent{margin-top: -30px; display: none;}

.tab_menu > li.on{background: #4753fe;}
.content > .tabcontent.on{display: block;}

#tab1 .tab-content {
  color : white;
  background-color: #ddd;
}

#tab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#tab1 .nav-pills > li > a {
  border-radius: 0;
}


/* table tfoot */
table{margin-top: 70px}
table > tfoot > tr > td {background: #d7d7e4; height: 40px; border-right: 2px solid #f1f1f1;  border-top: 2px solid #f1f1f1; border-bottom: 2px solid #f1f1f1; padding: 0 3px; box-sizing: border-box;}
table > tfoot > tr > td:last-child{border-right: 0;}
table > tfoot > tr:last-child > td{border-bottom: 0;}