
/*--------------------
setting 공통css
--------------------------*/
/* tab menu */
.tab_menu{position: absolute; top: 180px; z-index: 5;}
.tab_menu:after{content: ""; display: block; clear: both;}
.tab_menu > li{float: left; width: 230px; margin-right: 1px; background: #707070; height: 40px; line-height: 40px; text-align: center; cursor: pointer;}
.tab_menu > li > a{color: #fff; width: 100%; height: 100%; display: block;}

.tab_menu > li.on{background: #4753fe;}
/*------------------------------------------------------
------------------------------*/
.fees_content{width: 100%; display: flex; justify-content: space-between;}
.fees_content > div{width: 49%;}
.fees_content > div:last-of-type{margin-right: 0;}

.sub_title{width: 100%; height: 40px; line-height: 40px; font-size: 20px; font-weight: 600; padding-left: 20px; position: relative;}
.sub_title > span {display: inline-block; width: 5px; height: 20px; background: #4753fe; position: absolute; top: 50%; left: 5px; transform: translateY(-50%);}
/* 검색 */
.search_area{width: 100%; display: flex; align-items: center; justify-content: space-between;}
.search_area > div{width: 49%;}
.search_area > div > span{
    display: block;
    width: 100%; margin-bottom: 5px;
}

/* 기본검색 */
.search, .time_search{width: 49%; height: 100%; display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between;}
.search select{height: 100%; width: 25%; height: 40px; border-right: 0;}
.search > .search_txt{position: relative; display: inline-block; width: 75%; height: 40px; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.search > .search_txt > input{width: 100%; height: 36px; padding: 5px 50px 5px 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 50%; transform: translateY(-50%); right: 10px; width: 35px; height: 35px;}


.time_search select{height: 100%; width: 24%; height: 40px;}
/* 수수료율 변경 */
.change_fees{width: 45%;}
.change_fees > .fees_txt{position: relative; display: inline-block; width: 290px; height: 100%; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.change_fees > .fees_txt > input{position: absolute; top: 50%; left: 10px; transform: translateY(-50%); width: 80%; height: 100%; padding: 5px; border: 0; }
.change_fees > .fees_txt > .input_btn{position: absolute; top: -1px; right: -71px;}
.percent{position: absolute; top: 0; right: 0; width: 40px; height: 40px; font-size: 30px; color: #4753fe; font-weight: bold;}

/* 체크박스 */
.checks input[type="checkbox"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.checks input[type="checkbox"] + label {display: inline-block; position: relative; cursor: pointer;}
.checks input[type="checkbox"] + label > span{display: inline-block; height: 22px; vertical-align: middle;}
.checks input[type="checkbox"] + label:before {content: ' ';  display: inline-block; width: 22px; height: 22px; line-height: 22px;  text-align: center; vertical-align: middle; background: #fff; border: 1px solid #9b9b9b; border-radius : 3px; margin-right: 5px;}
.checks input[type="checkbox"]:checked + label:before { content: '\2714'; color: blue; border-color: blue;}

/* table tfoot */
thead > tr > .number{width: 100px;}

/* 배정 팝업 */
.assignment_pop{display: none; background: #fff; width: 600px; border-radius: 10px; font-size: 16px; text-align: center; padding: 30px;}
.assignment_pop > table > tbody > tr > td {background: #f3f3f3; height: 40px; border-right: 2px solid #fff;  border-bottom: 2px solid #fff; padding: 0 3px; box-sizing: border-box;}
.assignment_pop > div > input{width: 150px; height: 40px; margin: 0 10px; cursor: pointer;}
.assignment_pop > div > input:nth-of-type(2){background: #707070; border: 0; color: #fff; font-size: 16px;}
.assignment_pop_close{display: inline-block; position: absolute; top: 20px; right: 30px; width: 25px; height: 25px;}
.assignment_pop_close > img{width: 25px; height: 25px;}
.assignment_pop .search_txt{margin-top: 25px; position: relative;}
.assignment_pop .search_txt .search_btn{position: absolute; right: 25px; top: 50%; transform: translateY(-50%);}
.assignment_pop .search_txt > input{
    width: 100%;
    margin: 0;
    padding: 0 45px 0 10px;
    border: 1px solid #9b9b9b;
}

.assignment_pop .page_num{left: 0; transform: translateX(0);}
