body{background: linear-gradient( to bottom, #7079ff, #4753fe); }

.login{background: #fff; width: 550px; height: 470px; border-radius: 10px; position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); box-shadow: 5px 5px 20px rgba(0,0,0,0.5); padding: 30px;}


p{font-size: 20px; text-align: center; color: #9b9b9b; padding-top: 90px; margin-bottom: 20px;}
.logo{position: absolute; top: 30px; left: 50%; transform: translate(-50%);width: 170px;}

label{display: block; font-size: 18px; margin-left: 10px; margin-top: 15px;}
input{width: 100%; height: 50px; padding: 5px 15px; box-sizing: border-box;  border: 1px solid #9b9b9b; margin-top: 5px;}
input[type="submit"]{margin-top: 30px; border: 0; background: #4753fe; color: #fff; font-size: 20px;}