/* 검색 */
.search_area{width: 100%; margin-top: 30px; display: flex; align-items: center; justify-content: space-between;}
.search_area > div > select{background-color: #fff; border: 1px solid #9b9b9b;}

/* 상단버튼 */
.send_btn{width: 15%; margin-right: 2%;}
.send_btn > a{display: inline-block; width: 100%; height: 50px; text-align: center; line-height: 50px; border-radius: 10px;}

/* 기본검색 */
.search{position: relative; width: 32%; display: flex; align-items: center;}
.search span{display: block; width: 10%;}
.search > select{display: inline-block; height: 40px; width: 20%; padding: 5px;}
.search_area .search > select{border-right: 0;}
.search > .search_txt{display: inline-block; width: 70%; height: 40px; border: 1px solid #9b9b9b; background: #fff; margin-left: -1px;}
.search > .search_txt > input{width: 100%; height: 36px; padding: 5px 50px 5px 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 35px; height: 35px;}

/* 기간 검색 */
.term_search{position: relative; width: 50%; display: flex; align-items: center; justify-content: space-between;}
.term_search span{display: block; width: 10%;}
/* .term_search >  .day{border: 1px solid #c4c4c4;  background-color: #fff; width: 180px;} */
.term_search > input{width: 24%;}
.term_search .option{width: 100px; display: inline-block; height: 40px; width: 130px; padding: 5px; box-sizing: border-box; vertical-align: middle;}
.term_search .option_time{display: inline-block; padding: 10px; width: 160px; height: 40px; vertical-align: middle;}
.term_search .opt_btn{height: 40px; width: 60px; background: linear-gradient( to bottom, #fff, #d5d5d5 ); border: 1px solid #9b9b9b; margin-right: -7px; box-sizing: border-box; cursor: pointer; font-size: 16px;}

.term_search .blue_btn{margin-left: 6px;}

/* table */
tbody > tr > .txt{width: 50%; text-align: left; text-indent: 10px;}
/* 답장버튼 */
.reply_btn{width: 200px; position: relative;}
.reply_btn > button{width: 150px; height: 30px; border-radius: 10px;}

/* pop up */
.message_pop > .top{width: 800px; height: 50px; margin: 0 auto; margin-top: 10px; margin-bottom: 10px;}
.message_pop > .top:after{content: ""; display: block; clear: both;}
.message_pop > .top > div{float: left;margin-left: -1px;}
.message_pop > .top > div > span{display: inline-block; height: 40px; vertical-align: middle; line-height: 40px; padding: 0 20px; border: 1px solid #9b9b9b; background: #fff;}
.message_pop > .top > div > span:nth-of-type(2){width: 144px; margin-left: -1px;}
.message_pop > .top > .pop_no > span{padding: 0 10px;}
.message_pop > .top > .pop_no > span:nth-of-type(2){width: 70px;}

.pop_content{width: 100%; border: 1px solid #9b9b9b; min-height: 150px; padding: 20px; margin-bottom: 0;}
.pop_content > .pop_txt{height: auto;}

/* 답장하기 */
.reply_pop{z-index: 5; width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: absolute; top: 0; left: 0; display: none;}
.reply_message{width: 650px;}
.reply_message > div{ margin: 10px 0;}
.reply_message > div > p{font-size: 18px; font-weight: 600; margin: 5px 0; display: inline-block;}
.reply_message > div > .reply_name{display: inline-block; font-size: 18px;  margin-left: 20px;}
/*내용*/
textarea{width: 100%; min-height: 200px; resize: none; overflow-y: scroll; padding: 10px;}

/* 첨부 파일 */
.file-input {display: inline-block; text-align: left; background: #fff; padding: 5px; width: 100%;  height: 40px; position: relative; border:1px solid #9b9b9b;}
.file-input > [type='file'] {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 10; cursor: pointer;}
.file-input > .button {display: inline-block; cursor: pointer; background: #9b9b9b; color: #fff; padding: 3px 10px; border-radius: 2px; margin: 0 10px;}
.file-input:hover > .button {background: #4753fe; color: white;}
.file-input > .label {color: #333; opacity: .3;}
.file-input.-chosen > .label {opacity: 1;}
/* pop up button */
.pop_reply_btn{width: 100%; text-align: center;}
.pop_reply_btn > button{width: 350px; border-radius: 10px; margin-top: 15px;}