.content:after{content: ""; display: block; clear: both;}

/* 검색 */
.search_area{width: 100%; margin-top: 20px}
.search_area:after{content: ""; display: block; clear: both;}
.search_area > div{height: 40px;}
.search_area > div > span{margin-right: 10px; vertical-align: middle;}
.search_area > div > select{background-color: #fff; border: 1px solid #9b9b9b;}

/* 상단버튼 */
.mess_top_btn{width: 22.7%; margin-bottom: 20px}
.mess_top_btn > button{width: 32%; height: 40px; border-radius: 10px; border: 1px solid #9b9b9b; background: linear-gradient(to bottom, #9d9d9d , #707070); color: #fff; font-size: 18px}

.mess_top_btn > button.on{border: 1px solid #4753fe; background: linear-gradient(to bottom, #7079ff , #4753fe);}
/* 기본검색 */
.search{float: left; width: 22.7%;}
.search > .search_txt{position: relative; display: inline-block; width: 290px; height: 100%; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.search > .search_txt > input{position: absolute; top: 50%; left: 10px; transform: translateY(-50%); width: 80%; height: 100%; padding: 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 0; right: 10px; width: 40px; height: 40px;}

/* table */
.id_list{width: 50%; position: relative; float: left;}
.id_list:after{content: ""; display: block; clear: both;}
table{position: relative; width: 45%; float: left;}
table:nth-of-type(1){margin-right: 67px;}
table > caption{position: absolute; top: -60px; left: 30px; font-size: 25px; color: #9b9b9b;} 

thead > tr > .number{width: 25px;}
/* 페이지 번호 */
/* 페이지 번호 */
.page_num{position: absolute; bottom: -70px; left: 30px; width: 270px;}
.page_num:after{content: ""; display: block; clear: both;}
.page_num > a{float: left; width: 30px; height: 30px; margin: 0 10px; text-align: center; line-height: 30px;}
.page_num > a:first-of-type{margin-left: 20px;}
.page_num > a:last-of-type{margin-right: 20px;}

.page_num > a.active{background: #4753fe; color: #fff;}

.page_num > .arrow{}
.page_num > .arrow > a{position: absolute; top: 50%; transform: translateY(-50%); width: 30px; height: 30px; list-style: 30px;}
.page_num > .arrow > a > img{position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%);}
.page_num > .arrow > .left_arrow{left: -20px;}
.page_num > .arrow > .right_arrow{right: -20px;}

/* 아이디 추가 버튼 */
.add_btn{margin-top: 30px;}
.add_btn > button{display: block; border: 0; padding: 0; margin-bottom: 30px;}
.add_btn > button > img{width: 25px;}

/* 메세지 보내기 */
.send_area{width: 47%; display: inline-block; float: right;}
.send_area > div{margin-bottom: 20px;}
.send_area > div > p{font-size: 20px; margin-bottom: 5px;}
.send_area > div > input{width: 100%; padding: 5px; height: 40px;}
.send_area > div > textarea{width: 100%; height: 300px; padding: 10px;}
/* 첨부 파일 */
.file-input {display: inline-block; text-align: left; background: #fff; padding: 5px; width: 100%;  height: 40px; position: relative; border:1px solid #9b9b9b;}
.file-input > [type='file'] {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 10; cursor: pointer;}
.file-input > .button {display: inline-block; cursor: pointer; background: #9b9b9b; color: #fff; padding: 3px 10px; border-radius: 2px; margin: 0 10px;}
.file-input:hover > .button {background: #4753fe; color: white;}
.file-input > .label {color: #333; opacity: .3;}
.file-input.-chosen > .label {opacity: 1;}

/* 보내기/취소 버튼*/
.send_btn{margin-top: 20px; text-align: center;}
.send_btn > button{width: 250px; border-radius: 10px; margin: 0 20px;}
.send_btn > button.cancel{height: 40px; background: #9b9b9b  linear-gradient( to bottom, #9d9d9d, #707070 ); border: 1px solid #9b9b9b; cursor: pointer; color: #fff; font-size: 16px;}