/* 상단버튼 */
.top_more_btn{width: 100%;  text-align: right;}
.top_more_btn > button{width: 300px; height: 50px; border-radius: 10px;}

/* 검색 */
.search_area{width: 100%; margin-top: 30px}
.search_area:after{content: ""; display: block; clear: both;}
.search_area > div{height: 40px;}
.search_area > div > span{margin-right: 10px; vertical-align: middle;}
.search_area > div > select{background-color: #fff; border: 1px solid #9b9b9b;}

/* 기본검색 */
.search{position: relative; float: right; width: 40%;}
.search > select{display: inline-block; height: 40px; width: 150px; padding: 5px; box-sizing: border-box; vertical-align: middle;}
.search > .search_txt{position: absolute; top: 0; display: inline-block; width: 400px; height: 100%; border: 1px solid #9b9b9b; background: #fff; margin-left: -1px;}
.search > .search_txt > input{position: absolute; top: 50%; left: 10px; transform: translateY(-50%); width: 85%; height: 100%; padding: 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 0; right: 10px; width: 40px; height: 40px;}

.new_notice{float: right;}
.new_notice>a{display: block; width: 250px; text-align: center; line-height: 40px; margin-left: 25px;}
/* 검색 정렬 */
/*.order_search{position: relative; float: left; width: 22%;}
.order_search > select{display: inline-block; height: 40px; width: 180px; padding: 5px; box-sizing: border-box; vertical-align: middle;}
.order_btn{position: absolute; right: 0; top: 0;}
.order_btn > button{width: 45px; height: 40px; position: absolute; border: 1px solid #9b9b9b; background: #fff;}

.order_btn > .order_up{right: 60px;}
.order_btn > .order_down{right: 16;}*/

.number{width: 100px;}
.table_more>th:nth-of-type(2){width: 800px;}
.delete_btn > input{height: 30px; width: 50px; border: 1px solid #4753fe; background: #fff; color: #4753fe; font-weight: 600;}

.delete_btn > input:hover{background: #4753fe; color: #fff;}


.notice_pop .pop_content{
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.notice_pop .pop_content > li{
    float: none;
    width: 48%;
    display: flex;
    align-items: center;
}
.notice_pop .pop_content > li:nth-of-type(3){width: 100%; margin-top: 20px;}
.notice_pop .pop_content > li:last-of-type{width: 100%; margin-top: 20px;}
.notice_pop .pop_content > li > span{
    width: 80px
}
.notice_pop .pop_content > li > input{
    width: calc(100% - 80px);
}
.notice_pop .pop_content > li > textarea{
    width: calc(100% - 80px);
    border: 1px solid #9b9b9b;
    min-height: 80px;
    padding: 5px;
}
.button{
    text-align: center;
}
.button button{
    display: inline-block;
    width: 150px;
    height: 40px;
    background: #fff;
    border: 1px solid #9b9b9b;
    font-size: 18px;
    margin-right: -1px;
    cursor: pointer;
}
.button button:hover{
    background: #4753fe;
    color: #fff;
}