/* pop up button */
.button{width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 20px;}
.button > button{width: 33%; max-width: 150px; height: 40px; background: #fff; border: 1px solid #9b9b9b; font-size: 18px; margin-right: -1px; cursor: pointer;}
.button > button:hover, .button > button:focus {background: #4753fe; color: #fff;}

.pop_inner .blue_btn{
    width: 100%; height: 40px; border-radius: 10px;
    background: #4753fe linear-gradient( to bottom, #7079ff, #4753fe );
    border: 1px solid #4753fe;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

.reauest_pop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right , .left{
    width: 48%;
}
.reauest_pop h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.reauest_pop input{
    height: 40px; width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #9b9b9b;
}
.reauest_pop li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.reauest_pop .list_title{
    width: 25%;
    font-size: 14px;
    padding: 0 5px;
}
.reauest_pop li > div{
    width: 75%;
}
.reauest_pop select{
    background: #ffffff url(../images/drop_down.png)no-repeat 95% 50%;
    background-size: 10px auto;
    height: 40px;
    width: 100%;
    border: 1px solid #9b9b9b;
}
/* 매장 정보 보기------------------------------------------- */

.shop_info_pop{
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop_info_pop h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.shop_info_pop input{
    height: 40px; width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #9b9b9b;
}
.shop_info_pop li{
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
}
.shop_info_pop .list_title{
    width: 25%;
    font-size: 14px;
}
.shop_info_pop li > div{
    width: 75%;
}
.shop_info_pop select{
    background: #ffffff url(../images/drop_down.png)no-repeat 95% 50%;
    background-size: 10px auto;
    height: 40px;
    width: 100%;
    border: 1px solid #9b9b9b;
}
.shop_info_pop .join_submit_wrap{
    display: flex;
    align-items: center;
}
.shop_info_pop .join_submit_wrap .join_submit{
    width: 40%; margin-left: 10px;
}
.shop_info_pop > .button{margin-top: 20px;}

.reauest_pop.apply .left ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.reauest_pop.apply .left ul li{
    width: 50%;
}
.reauest_pop.apply .list_title{
    width: 32%;
}
.reauest_pop.info .list_title{width: 32%;}
.reauest_pop.info .job_category .list_title,
.reauest_pop.info .address .list_title
{width: 68px;}
.reauest_pop.info .left ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.reauest_pop.info .left ul li{
    width: 50%;
}
.reauest_pop.info .left ul .address{
    width: 100%;
}
.reauest_pop.info .left ul .job_category {width: 100%;}
.reauest_pop.info .job_category > div{
    display: flex; align-items: center;
    flex-wrap: wrap;
    border: 1px solid #9b9b9b;
    padding: 5px; width: calc(100% - 68px);
}
.reauest_pop.info .job_category > div > div{
    width: 50%; margin: 2px 0;
}
.reauest_pop li.address > div{
    width: calc(100% - 68px);
}

