
/* 건수 */
.request_count{position: absolute; right: 0; top: 190px; width: 630px; height: 50px; margin-right: -5px;}
.request_count:after{content: ""; display: block; clear: both;}
.request_count > li{position: relative; float: left; background: #ffffff; width: 200px; height: 100%; margin-right: 10px; text-indent: 15px; line-height: 50px; box-shadow: 2px 2px 5px rgba(0,0,0,.2);}
.request_count > li > span{color: #4753fe; font-weight: bold; position: absolute; right: 20px;}


/* 검색 */
.search_area{width: 100%; padding-top: 80px; display: flex; align-items: center; justify-content: space-between;}
.search_area:after{content: ""; display: block; clear: both;}
.search_area > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_area > div > span{margin-right: 10px; vertical-align: middle;}
.search_area > div > select{background-color: #fff; border: 1px solid #9b9b9b;}
/* 기본검색 */
.search{position: relative; float: left; width: 39%;}
.search_area .search > select{display: inline-block; height: 40px; padding: 5px; width: 20%; border-right: 0;}
.search > .search_txt{display: inline-block; width: 70%; height: 40px; border: 1px solid #9b9b9b; background: #fff;}
.search > .search_txt > input{width: 100%; height: 36px; padding: 5px 50px 5px 5px; border: 0;}
.search > .search_txt > .search_btn{position: absolute; top: 50%; transform: translateY(-50%); right: 10px; width: 35px; height: 35px;}
.search span{display: block; width: 8%;}

/* 시간검색 */
.time_search{width: 60%;}
.time_search > .option{width: 100px; display: inline-block; height: 40px; width: 130px; padding: 5px; box-sizing: border-box; vertical-align: middle;}
.time_search > .option_time{display: inline-block; padding: 10px; width: 160px; height: 40px; vertical-align: middle;}
.time_search > .opt_btn{height: 40px; width: 60px; background: linear-gradient( to bottom, #fff, #d5d5d5 ); border: 1px solid #9b9b9b; margin-right: -7px; box-sizing: border-box; cursor: pointer; font-size: 16px;}

.time_search > .blue_btn{margin-left: 8px}

.term_search{display: flex; width: 60%;}
.term_search span{width: 8%;}
.term_search > input{width: 30%;}
.term_search > div{width: 25%; display: flex; align-items: center; justify-content: space-between;}
.term_search > div > .opt_btn{height: 40px; width: 55px; background: linear-gradient( to bottom, #fff, #d5d5d5 ); border: 1px solid #9b9b9b; margin-right: -1px; cursor: pointer; font-size: 16px;}
.term_search > div > .blue_btn{margin-left: 8px;}
.term_search .search-day-active{color: #ffffff;}

/* pop up */
.reauest_pop > .top{height: 50px; margin-top: 10px; margin-bottom: 10px}
.reauest_pop > .top > div{float: left;}
.reauest_pop > .top > div > span{display: inline-block; width: 75px; vertical-align: middle;}
.reauest_pop > .top > button{float: right; width: 250px; height: 40px; border-radius: 10px;}

.pop_content > .section_1{width: 25%;}
.pop_content > .section_1 > div{}
.pop_content > .section_1 > div > span{width: 75px;}
.pop_content > .section_1 > div > input{width: 150px;}

.pop_content > .section_2{width: 22%; margin-left: 13px}
.pop_content > .section_2 > div{}
.pop_content > .section_2 > div > span{width: 80px;}
.pop_content > .section_2 > div > input{width: 120px;}

.pop_content > .section_3{width: 50%;}
.pop_content > .section_3 > div{}
.pop_content > .section_3 > div > span{width: 90px;}
.pop_content > .section_3 > div > input{width: 368px}

/* pop up button */
.button{width: 500px; margin: 0 auto;}
.button > button{display: inline-block; float: left; width: 33%; height: 40px; background: #fff; border: 1px solid #9b9b9b; font-size: 18px; margin-right: -1px; cursor: pointer;}
.button > button:hover, .button > button:focus {background: #4753fe; color: #fff;}

/* 매장 정보 보기------------------------------------------- */

/* pop up */
.shop_info_pop{display: none;}
.shop_info_pop > .top{width: 900px; height: 50px; margin: 0 auto; margin-top: 10px; margin-bottom: 10px;}
.shop_info_pop > .top:after{content: ""; display: block; clear: both;}
.shop_info_pop > .top > div{float: left;}
.shop_info_pop > .top > div:nth-of-type(2){margin-left: -1px;}
.shop_info_pop > .top > div:last-of-type{margin-left: -1px; line-height: 1; width: 25 background: pink}
.shop_info_pop > .top > div > span{display: inline-block; height: 40px; vertical-align: middle; line-height: 40px; padding: 0 10px; border: 1px solid #9b9b9b;}
.shop_info_pop > .top > div > .submit_result{width: 80px; text-align: center; margin-left: -1px; color: #4753fe; font-weight: 600;}
.shop_info_pop > .top > div > input{width: 150px; margin-left: -1px;}
.shop_info_pop > .top > .join_submit {width: 150px; margin-left: 10px;}

.shop_info_pop > .pop_content > .section_1{width: 46%;}
.shop_info_pop > .pop_content > .section_1 > div{}
.shop_info_pop > .pop_content > .section_1 > div > span{width: 90px;}
.shop_info_pop > .pop_content > .section_1 > div > input{width: 330px;}

.shop_info_pop > .pop_content > .section_2{width: 25%; margin-left: 13px;}
.shop_info_pop > .pop_content > .section_2 > div{}
.shop_info_pop > .pop_content > .section_2 > div > span{width: 80px;}
.shop_info_pop > .pop_content > .section_2 > div > input{width: 150px;}

.shop_info_pop > .pop_content > .section_3{width: 25%;}
.shop_info_pop > .pop_content > .section_3 > div{}
.shop_info_pop > .pop_content > .section_3 > div > span{width: 90px;}
.shop_info_pop > .pop_content > .section_3 > div > input{width:140px}

/* pop up button */
.shop_info_pop > .button{width: 600px; margin: 0 auto;}
.shop_info_pop > .button > button{display: inline-block; float: left; width: 25%; height: 40px; background: #fff; border: 1px solid #9b9b9b; font-size: 18px; margin-right: -1px; cursor: pointer;}
.shop_info_pop > .button > button:hover, .button > button:focus {background: #4753fe; color: #fff;}

/* 회원가입 승인 pop */
.join_pop{display: none; background: #fff; width: 600px; border-radius: 10px; font-size: 16px; text-align: center; padding: 30px;}
.join_pop > p{font-size: 25px; text-align: center; margin: 10px 0; font-weight: bold;}
.join_pop > div{margin: 20px 0;}
.join_pop > div > input{width: 150px; height: 40px; margin: 0 10px; cursor: pointer;}
.join_pop > div > input:nth-of-type(2){background: #707070; border: 0; color: #fff; font-size: 16px;}

.inn_pop_close  ,.shop_info_close{display: inline-block; position: absolute; top: 20px; right: 30px; width: 25px; height: 25px;}
.inn_pop_close > img , .shop_info_close > img{width: 25px; height: 25px;}

/* 배정 팝업 */
.assignment_pop{display: none; background: #fff; width: 600px; border-radius: 10px; font-size: 16px; text-align: center; padding: 30px;}
.assignment_pop > table > tbody > tr > td {background: #f3f3f3; height: 40px; border-right: 2px solid #fff;  border-bottom: 2px solid #fff; padding: 0 3px; box-sizing: border-box;}
.assignment_pop > div > input{width: 150px; height: 40px; margin: 0 10px; cursor: pointer;}
.assignment_pop > div > input:nth-of-type(2){background: #707070; border: 0; color: #fff; font-size: 16px;}
.assignment_pop_close{display: inline-block; position: absolute; top: 20px; right: 30px; width: 25px; height: 25px;}
.assignment_pop_close > img{width: 25px; height: 25px;}
/* 체크박스 */
.checks input[type="checkbox"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.checks input[type="checkbox"] + label {display: inline-block; position: relative; cursor: pointer;}
.checks input[type="checkbox"] + label > span{display: inline-block; height: 22px; vertical-align: middle;}
.checks input[type="checkbox"] + label:before {content: ' ';  display: inline-block; width: 22px; height: 22px; line-height: 22px;  text-align: center; vertical-align: middle; background: #fff; border: 1px solid #9b9b9b; border-radius : 3px; margin-right: 5px;}
.checks input[type="checkbox"]:checked + label:before { content: '\2714'; color: blue; border-color: blue;}