
/*--------------------
setting 공통css
--------------------------*/
/* tab menu */
.tab_menu{position: absolute; top: 180px; z-index: 5;}
.tab_menu:after{content: ""; display: block; clear: both;}
.tab_menu > li{float: left; width: 230px; margin-right: 1px; background: #707070; height: 40px; line-height: 40px; text-align: center; cursor: pointer;}
.tab_menu > li > a{color: #fff; width: 100%; height: 100%; display: block;}

.tab_menu > li.on{background: #4753fe;}
/*------------------------------------------------------
------------------------------*/
.fees_content{padding-top: 60px; width: 100%;}
.fees_content:after{content: ""; display: block; clear: both;}
.fees_content > div{width: 49%; float: left; margin-right: 30px;}
.fees_content > div:last-of-type{margin-right: 0;}

.sub_title{width: 100%; height: 40px; line-height: 40px; font-size: 20px; font-weight: 600; padding-left: 20px; position: relative;}
.sub_title > span {display: inline-block; width: 5px; height: 20px; background: #4753fe; position: absolute; top: 50%; left: 5px; transform: translateY(-50%);}
/* 검색 */
.search_area{width: 100%;}
.search_area:after{content: ""; display: block; clear: both;}
.search_area > div{height: 40px; width: 49%; float: left;}
.search_area > div:first-of-type{margin-right: 14px;}
.search_area > div > span{margin: 0 10px; vertical-align: middle;}

/* 기본검색 */
.search{width: 45%; float: left;}
.search > .search_txt{position: relative; display: inline-block; width: 300px; height: 100%; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.search > .search_txt > input{width: 100%; height: 100%; padding: 5px 50px 5px 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 35px; height: 35px;}

/* 수수료율 변경 */
.change_fees{width: 45%;}
.change_fees > .fees_txt{position: relative; display: inline-block; width: 290px; height: 100%; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.change_fees > .fees_txt > input{width: 100%; height: 100%; padding: 5px 50px 5px 5px; border: 0; }
.change_fees > .fees_txt > .input_btn{position: absolute; top: -1px; right: -71px;}
.percent{position: absolute; top: 50%; right: 0; transform: translateY(-50%); width: 35px; height: 35px; font-size: 24px; color: #4753fe; font-weight: bold;}

/* 체크박스 */
.checks input[type="checkbox"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.checks input[type="checkbox"] + label {display: inline-block; position: relative; cursor: pointer;}
.checks input[type="checkbox"] + label > span{display: inline-block; height: 22px; vertical-align: middle;}
.checks input[type="checkbox"] + label:before {content: ' ';  display: inline-block; width: 22px; height: 22px; line-height: 22px;  text-align: center; vertical-align: middle; background: #fff; border: 1px solid #9b9b9b; border-radius : 3px; margin-right: 5px;}
.checks input[type="checkbox"]:checked + label:before { content: '\2714'; color: blue; border-color: blue;}

/* table tfoot */
thead > tr > .number{width: 100px;}


