/*--------------------
setting 공통css
--------------------------*/
/* tab menu */
.tab_menu{position: absolute; top: 180px; z-index: 5;}
.tab_menu:after{content: ""; display: block; clear: both;}
.tab_menu > li{float: left; width: 230px; margin-right: 1px; background: #707070; height: 40px; line-height: 40px; text-align: center; cursor: pointer;}
.tab_menu > li > a{color: #fff; width: 100%; height: 100%; display: block;}
.content > .tabcontent{margin-top: -30px; display: none;}

.tab_menu > li.on{background: #4753fe;}
.content > .tabcontent.on{display: block;}

/*------------------------------------------------------------------------------------*/

/* table */
thead > tr > .number{width: 100px;}
table{margin-top: 60px;}
.delete_btn{width: 250px;}
.delete_btn > input{height: 30px; width: 50px; border: 1px solid #4753fe; background: #fff; color: #4753fe; font-weight: 600;}
.delete_btn > input:hover{background: #4753fe; color: #fff;}

/* 등록 버튼 */
.enrollment_btn{width: 150px; height: 40px; border-radius: 10px; color: #fff; background: #4753fe linear-gradient( to bottom, #7079ff, #4753fe ); border: 1px solid #4753fe; position: absolute; bottom: -50px;; right: 50px;}

/* 관리자 등록-------------------------------------------------------- */
.manager_sub{}
.manager_sub > table{}
.manager_sub > table > tbody > tr:nth-of-type(1) > td{background: #ddd;}
.manager_sub > table > tbody > tr > td:nth-of-type(even){text-align: left; text-indent: 20px;}
.manager_sub > table > tbody > tr > td > input{width: 80%; height: 80%; font-size: 16px; border: 0; background-color: transparent;}

.btn_area{position: absolute; right: 10px; bottom: -60px;}
.btn_area > button{width: 150px; height: 40px; border-radius: 10px; color: #fff; background: #4753fe linear-gradient( to bottom, #7079ff, #4753fe ); border: 1px solid #4753fe; font-size: 16px;}

/* 비밀번호 변경 팝업-----------------------*/
::placeholder{font-size: 16px; color: #c2c2c2;}
.pw_pop{margin-top: 100px; padding: 0 100px;}
.pw_pop:after{content: ""; display: block; clear: both;}
.pw_pop > div{position: relative; width: 600px; height: 370px; border-radius: 10px; border: 1px solid #afafaf; background: #fff; text-align: center; padding: 30px;}
.pw_pop > div:nth-of-type(1){float: left;}
.pw_pop > div:nth-of-type(2){float: right;}
.pw_pop > div > h3{font-size: 25px;}
.pw_pop > div > span{display: block; font-size: 15px; color: #afafaf; margin-bottom: 45px; margin-top: 5px;}
.pw_pop > div > p{ text-align: left; }

.sand_certification > input[type="number"]{width: 120px; height: 50px; padding: 10px; border-radius: 5px; border: 1px solid #afafaf; margin-right: 5px; font-size: 20px;}
.sand_certification > input[type="button"]{width: 132px; background: #4753fe; border-radius: 5px; height: 50px; color: #fff;  border: 1px solid #4753fe; font-size: 16px;}
.sand_certification{margin-bottom: 20px;}

.submit_certification > div{position: relative; display: inline-block;}
.submit_certification > div > input[type="text"]{width: 380px; height: 50px; border-radius: 10px; border: 1px solid #afafaf; margin-right: 5px; padding: 5px 5px 5px 20px; font-size: 25px;}
.del_icon{position: absolute; top: 50%; right: 30px; transform: translateY(-50%);}

.submit_certification > input[type="button"]{width: 132px; background: #4753fe; border-radius: 5px; height: 50px; color: #fff;  border: 1px solid #4753fe; font-size: 16px;}

.certification , .change_pw{position: relative;}
.button_area{position: absolute; width: 100%; bottom: 35px; left: 50%; transform: translateX(-50%);}
.button_area > input{width: 180px; height: 40px; border-radius: 10px; border: 0; margin: 0 10px; cursor: pointer; font-size: 16px;}
.button_area > input:nth-of-type(1){color: #fff; background: #afafaf;}
.button_area > input:nth-of-type(2){color: #fff;  border: 1px solid #4753fe; background: #4753fe;}


.change_pw > p{font-size: 20px; margin-top: 20px; margin-bottom: 10px; text-indent: 10px;}
.change_pw > p:first-of-type{margin-top: 30px;}
.change_pw > input{width: 100%; height: 50px; border-radius: 10px; 5px; padding: 5px 5px 5px 20px; border: 1px solid #afafaf; background: url(../images/pw_check.png) no-repeat 97% 50%; font-size: 25px;}

/*.change_pw > .button{bottom: 30px; left: 50%; transform: translateX(-50%);}
.change_pw > .button{ width: 100%;}
.change_pw > .button > input{width: 180px; height: 40px; border-radius: 10px; border: 0; margin: 0 10px; cursor: pointer;}
.change_pw > .button > input:nth-of-type(1){color: #fff; background: #afafaf;}
.change_pw > .button > input:nth-of-type(2){color: #fff;  border: 1px solid #4753fe; background: #4753fe;}*/