
/* 검색 */
.search_area{width: 100%; margin-top: 90px;}
.search_area:after{content: ""; display: block; clear: both;}
.search_area > div{height: 40px;}
.search_area > div > span{margin-right: 10px; vertical-align: middle;}
.search_area > div > select{background-color: #fff; border: 1px solid #9b9b9b;}

/* 기본검색 */
.search{width:100%;}
.search > .search_txt{position: relative; display: inline-block; width: 450px; height: 100%; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.search > .search_txt > input{width:100%; height: 100%; padding: 5px 50px 5px 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 35px; height: 35px;}

/* tab menu */
.tab_menu{position: absolute; top: 190px;}
.tab_menu:after{content: ""; display: block; clear: both;}
.tab_menu > li{float: left; width: 230px; background: #707070; height: 40px; line-height: 40px; text-align: center; cursor: pointer;}
.tab_menu > li > a{color: #fff;}
.content > .tabcontent{margin-top: -30px; display: none;}

.tab_menu > li.on{background: #4753fe;}
.content > .tabcontent.on{display: block;}

/* 체크박스 */
.checks input[type="checkbox"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.checks input[type="checkbox"] + label {display: inline-block; position: relative; cursor: pointer;}
.checks input[type="checkbox"] + label > span{display: inline-block; height: 22px; vertical-align: middle;}
.checks input[type="checkbox"] + label:before {content: ' ';  display: inline-block; width: 22px; height: 22px; line-height: 22px;  text-align: center; vertical-align: middle; background: #fff; border: 1px solid #9b9b9b; border-radius : 3px; margin-right: 5px;}
.checks input[type="checkbox"]:checked + label:before { content: '\2714'; color: blue; border-color: blue;}

/* table tfoot */
thead > tr > .number{width: 100px;}

/* 수수효율 설정 ---------------------------------------------------------------------------------------*/
.fees{width: 100%;}
.fees:after{content: ""; display: block; clear: both;}
.fees > div{width: 49%; border: 1px solid red; float: left; margin-right: 30px;}
.fees > div:last-of-type{margin-right: 0;}

/* 수수료율 변경 */
.change_fees{width:36%; float: right;}
.change_fees > .fees_txt{position: relative; display: inline-block; width: 350px; height: 100%; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.change_fees > .fees_txt > input{position: absolute; top: 50%; left: 10px; transform: translateY(-50%); width: 80%; height: 100%; padding: 5px; border: 0; }
.change_fees > .fees_txt > .input_btn{position: absolute; top: -1px; right: -71px;}
.percent{position: absolute; top: 0; right: 0; width: 40px; height: 40px; font-size: 30px; color: #4753fe; font-weight: bold;}


/* 지점 및 회원 징계 ---------------------------------------------------------------------------------------*/
.punishment{width: 100%;}
.punishment:after{content: ""; display: block; clear: both;}
.punishment > div{width: 32%; float: left; margin-right: 30px;}
.punishment > .franchisee{margin-right: 0;}

.punishment .number{width: 300px;}

.punishment_search{width: 100%; margin-top: 90px;}
.punishment_search:after{content: ""; display: block; clear: both;}
.punishment_search > div{height: 40px;}
.punishment_search > div > span{margin-right: 10px; vertical-align: middle;}

/* 기본검색 */
.sub_title{width: 35%; height: 40px; line-height: 40px; font-size: 20px; font-weight: 600; float: left;}
.punishment_search > .search{width: 65%; margin-left: 0;float: left;}
.sub_title > span {display: inline-block; width: 5px; height: 20px; background: #4753fe;}
.punishment_search > .search > .search_txt{position: relative; display: inline-block; width: 260px; height: 100%; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.punishment_search > .search > .search_txt > input{width: 100%; height: 100%; padding: 5px; border: 0; }
.punishment_search > .search > .search_txt > .search_btn{position: absolute; top: 50%; right: 10px; transform: translateY(-50); width: 35px; height: 35px;}

/* 징계 퇴출 버튼 */
.punish_btn > button{height: 30px; border-radius: 8px; margin: 0 5px;}

/* pop up */
.punish_pop_up{}
.punish_pop_up > div > p{font-size: 25px; text-align: center; margin: 10px 0; font-weight: bold;}

.pop_back{display : none; width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: absolute; top: 0; left: 0;}
.punish_pop{display : none; z-index: 100; width: 600px; height: auto; padding: 30px; box-sizing: border-box; background: #fff; border-radius: 10px; font-size: 16px; text-align: center; margin-top: 50px;}
.punish_pop > div{width: 100%; margin: 20px 0;}
.punish_pop > div > input{height: 40px; width: 22%; background: #9b9b9b  linear-gradient( to bottom, #9d9d9d, #707070 ); border: 1px solid #9b9b9b; cursor: pointer; color: #fff; font-size: 16px; border-radius: 10px; margin-right: 15PX;}
.punish_pop > div > input:last-of-type{margin-right: 0;}
.punish_pop >.submit_btn{width: 300px; border-radius: 10px; margin-top: 10px}

.out_pop{display : none; z-index: 100; width: 600px; height: auto; padding: 30px; box-sizing: border-box; background: #fff; border-radius: 10px; font-size: 16px; text-align: center; margin-top: 50px;}
.out_pop > div{width: 100%; margin:  10px 0;} 
.out_pop > div > input{width: 230px; margin: 20px 10px; border-radius: 10px; height: 40px;}
.out_pop > div > input:nth-of-type(2){background: #9b9b9b  linear-gradient( to bottom, #9d9d9d, #707070 ); border: 1px solid #9b9b9b; cursor: pointer; color: #fff; font-size: 16px;}