/*--------------------
setting 공통css
--------------------------*/
/* tab menu */
.tab_menu{position: absolute; top: 180px; z-index: 1;}
.tab_menu:after{content: ""; display: block; clear: both;}
.tab_menu > li{float: left; width: 230px; margin-right: 1px; background: #707070; height: 40px; line-height: 40px; text-align: center; cursor: pointer;}
.tab_menu > li > a{color: #fff; width: 100%; height: 100%; display: block;}

.tab_menu > li.on{background: #4753fe;}

/* 지점 및 회원 징계 ---------------------------------------------------------------------------------------*/
.content{padding-top: 130px;}
.punishment{width: 100%;}
.punishment:after{content: ""; display: block; clear: both;}
.punishment > div{width: 32%; float: left; margin-right: 30px;}
.punishment > .franchisee{margin-right: 0;}

.punishment .number{width: 300px;}

.punishment_search{width: 100%;}
.punishment_search:after{content: ""; display: block; clear: both;}
.punishment_search > div{height: 40px;}

/* 기본검색 */
.sub_title{width: 35%; height: 40px; line-height: 40px; font-size: 20px; font-weight: 600; float: left; padding-left: 20px; position: relative;}
.sub_title > span {display: inline-block; width: 5px; height: 20px; background: #4753fe; position: absolute; top: 50%; left: 5px; transform: translateY(-50%);}

.punishment_search > .search{width: 65%; margin-left: 0; float: left;}
.punishment_search > .search > .search_txt{position: relative; display: inline-block; width: 260px; height: 100%; border: 1px solid #9b9b9b; background: #fff; vertical-align: middle;}
.punishment_search > .search > .search_txt > input{width: 100%; height: 36px; padding: 5px 50px 5px 5px; border: 0; }
.punishment_search > .search > .search_txt > .search_btn{position: absolute; top: 50%; transform: translateY(-50%); right: 10px; width: 35px; height: 35px;}

/* 징계 퇴출 버튼 */
.punish_btn > button{height: 30px; border-radius: 8px; margin: 0 5px;}

/* pop up */
.punish_pop_up{}
.punish_pop_up > div > p{font-size: 25px; text-align: center; margin: 10px 0; font-weight: bold;}

.pop_back{display : none; width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: absolute; top: 0; left: 0; z-index: 2;}
.punish_pop{display : none; z-index: 100; width: 600px; height: auto; padding: 30px; box-sizing: border-box; background: #fff; border-radius: 10px; font-size: 16px; text-align: center; margin-top: 50px;}
.punish_pop > div{width: 100%; margin: 20px 0;}
.punish_pop > div > input{height: 40px; width: 22%; background: #9b9b9b  linear-gradient( to bottom, #9d9d9d, #707070 ); border: 1px solid #9b9b9b; cursor: pointer; color: #fff; font-size: 16px; border-radius: 10px; margin-right: 15PX;}
.punish_pop > div > input:last-of-type{margin-right: 0;}
.punish_pop >.submit_btn{width: 300px; border-radius: 10px; margin-top: 10px}

.out_pop{display : none; z-index: 100; width: 600px; height: auto; padding: 30px; box-sizing: border-box; background: #fff; border-radius: 10px; font-size: 16px; text-align: center; margin-top: 50px;}
.out_pop > div{width: 100%; margin:  10px 0;} 
.out_pop > div > input{width: 230px; margin: 20px 10px 0 0; border-radius: 10px; height: 40px;}
.out_pop > div > input:nth-of-type(2){background: #9b9b9b  linear-gradient( to bottom, #9d9d9d, #707070 ); border: 1px solid #9b9b9b; cursor: pointer; color: #fff; font-size: 16px;}