/* 검색 */
.search_area{
    width: 100;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
    
.search_area > div{height: 40px; display: flex;}
.search_area > div > span{margin-right: 10px; display: block; width: 10%;}
.search_area > div > select{background-color: #fff; border: 1px solid #9b9b9b; border-right: 0;}

/* 기본검색 */
.search{position: relative;  width: 40%; margin-right: 14px; margin-left: 400px; display: flex; align-items: center;}
.search > select{display: inline-block; height: 40px; width: 150px; padding: 5px;}
.search > .search_txt{width: 500px; height: 40px; border: 1px solid #9b9b9b; background: #fff; margin-left: -1px;}
.search > .search_txt > input{width: 100%; height: 36px; padding: 5px 50px 5px 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 35px; height: 35px;}

/* 검색 정렬 */

.order_search{position: relative; width: 25%; display: flex; align-items: center;}
.order_search > select{display: inline-block; height: 40px; width: 240px; padding: 5px;}
.order_btn{display: flex; align-items: center; width: 90px;}
.order_btn > button{width: 45px; height: 40px; border: 1px solid #9b9b9b; background: #fff; padding: 13px;}
.order_btn > button:first-of-type{border-right: 0;}

/* pop up */
.franchisee_pop > .top{width: 700px; height: 50px; margin: 0 auto; margin-top: 10px; margin-bottom: 10px;}
.franchisee_pop > .top:after{content: ""; display: block; clear: both;}
.franchisee_pop > .top > div{float: left;}
.franchisee_pop > .top > div:last-of-type{margin-left: -1px;}
.franchisee_pop > .top > div > span{display: inline-block; height: 40px; vertical-align: middle; line-height: 40px; padding: 0 20px; border: 1px solid #9b9b9b;}
.franchisee_pop > .top > div > input{width: 240px; margin-left: -1px;}

.pop_content > .section_1{width: 25%;}
.pop_content > .section_1 > div{}
.pop_content > .section_1 > div > span{width: 85px;}
.pop_content > .section_1 > div > input{width: 145px;}

.pop_content > .section_2{width: 45%; margin-left: 13px;}
.pop_content > .section_2 > div{}
.pop_content > .section_2 > div > span{width: 80px;}
.pop_content > .section_2 > div > input{width: 334px;}

.pop_content > .section_3{width: 27%;}
.pop_content > .section_3 > div{}
.pop_content > .section_3 > div > span{width: 90px;}
.pop_content > .section_3 > div > input{width:158px}

/* pop up button */
.button{width: 600px; margin: 0 auto;}
.button > button{display: inline-block; float: left; width: 33.333%; height: 40px; background: #fff; border: 1px solid #9b9b9b; font-size: 18px; margin-right: -1px; cursor: pointer;}
.button > button:hover, .button > button:focus {background: #4753fe; color: #fff;}