tfoot{background: #d7d7e4; border-top:  2px solid #e8e8f1;}
tfoot>tr>td{height: 40px;}

/* tab menu */
.tab_menu{position: absolute; top: 200px;}
.tab_menu:after{content: ""; display: block; clear: both;}
.tab_menu > li{float: left; width: 230px; background: #707070; height: 40px; line-height: 40px; text-align: center; cursor: pointer;}
.tab_menu > li > a{color: #fff; display: block;}
.content > .tabcontent{position: relative; margin-top: -30px;/* display: none;*/}
 
.tab_menu > li.on{background: #4753fe;}
/*.content > .tabcontent.on{display: block;}*/

/* content */
 .content_inner{margin-top: 90px; width: 100%;}
.tab_content{display: none;}
.tab_content.on{display: block;}

/* cart TAB menu */
.chart_menu{position: absolute; top: 400px; right: 70px;}
.chart_menu > li{width: 230px; border-radius: 10px; height: 40px; text-align: center; line-height: 40px; background: #707070  linear-gradient( to bottom, #9d9d9d, #707070 ); border: 1px solid #707070; margin-bottom: 10px; cursor: pointer;}
.chart_menu > li > a{color: #fff; display: block;}

.chart_menu > li.on{background: #4753fe  linear-gradient( to bottom, #7079ff, #4753fe ); border: 1px solid #4753fe;}


/* chart */
.chart_wrap{width: 100%; background: #fff; height: 500px; margin-top: 5px;}
.tab_content > .spot_chart{height: 450px;}
.chart {width: 80%; height: 80%;}
#user-chart1{width: 1100px; height: 500px; position: relative;}
#user-chart2{width: 1100px; height: 500px; position: relative;}
#sales-chart1{width: 1100px; height: 500px; position: relative;}
#sales-chart2{width: 1100px; height: 450px; position: relative;}

/* chart legend */
.chart_legend{position: absolute; top: 280px; right: 30px;}
.chart_legend > div{position: relative; width: 230px; height: 30px; line-height: 30px; padding-left: 50px; margin-bottom: 10px;}
.chart_legend > div > span{position: absolute; top: 50%; left: 0; transform: translateY(-50%); display: inline-block; width: 30px; height: 30px; }
.chart_legend > div:nth-of-type(1) > span{background: #fb448d;} 
.chart_legend > div:nth-of-type(2) > span{background: #44a6fb;} 