/* 상단버튼 */
.top_more_btn{width: 100%;  text-align: right;}
.top_more_btn > button{width: 300px; height: 50px; border-radius: 10px;}

/* 검색 */
.search_area{
    width: 100%; margin-top: 30px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}
.search_area > div{height: 40px;}
.search_area > div > select{background-color: #fff; border: 1px solid #9b9b9b; height: 40px;}

/* 기본검색 */
.search{position: relative; display: flex; align-items: center; justify-content: space-between; width: 25%; margin-right: 20px;}
.search_area .search > select{display: inline-block; height: 40px; width: 20%; padding: 5px; border-right: 0;}
.search > .search_txt{width: 70%; height: 40px; border: 1px solid #9b9b9b; background: #fff; margin-left: -1px;}
.search > .search_txt > input{width: 100%; height: 36px; padding: 5px 50px 5px 5px; border: 0; }
.search > .search_txt > .search_btn{position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 35px; height: 35px;}
.search span{display: block; width: 10%;}

/* 검색 정렬 */
.order_search{position: relative; width: 25%; display: flex; align-items: center;}
.search_area .order_search > select{display: inline-block; height: 40px; width: calc(90% - 90px); padding: 5px; border-right: 0;}
.order_search span{width: 10%; display: block;}
.order_btn{display: flex; align-items: center; width: 90px;}
.order_btn > button{width: 50%; height: 40px; padding: 13px; border: 1px solid #9b9b9b; background: #fff;}
.order_btn > button:first-of-type{border-right: 0;}


/* 기간 검색 */
.term_search{position: relative; width: 48%; display: flex; align-items: center; justify-content: space-between;}
.term_search span{display: block; width: 10%;}
.term_search >  input{border: 1px solid #c4c4c4;  background-color: #fff; width: 180px;}

.term_search > div > .opt_btn{height: 40px; width: 55px; background: linear-gradient( to bottom, #fff, #d5d5d5 ); border: 1px solid #9b9b9b; margin-right: -7px; box-sizing: border-box; cursor: pointer; font-size: 16px;}
.term_search > div > .blue_btn{margin-left: 8px;}
.term_search .search-day-active{color: #ffffff;}

/* pop up */
.workman_pop > .top{width: 900px; height: 50px; margin: 0 auto; margin-top: 10px; margin-bottom: 10px;}
.workman_pop > .top:after{content: ""; display: block; clear: both;}
.workman_pop > .top > div{float: left;}
.workman_pop > .top > div:nth-of-type(2){margin-left: -1px;}
.workman_pop > .top > div:last-of-type{margin-left: -1px; line-height: 1; width: 25 background: pink}
.workman_pop > .top > div > span{display: inline-block; height: 40px; vertical-align: middle; line-height: 40px; padding: 0 10px; border: 1px solid #9b9b9b;}
.workman_pop > .top > div > .submit_result{width: 80px; text-align: center; margin-left: -1px; color: #4753fe; font-weight: 600;}
.workman_pop > .top > div > input{width: 150px; margin-left: -1px;}
.workman_pop > .top > .join_submit {width: 150px; margin-left: 10px;}

.pop_content input{border: 1px solid #9b9b9b;}
.pop_content > .section_1{width: 46%;}
.pop_content > .section_1 > div{}
.pop_content > .section_1 > div > span{width: 90px;}
.pop_content > .section_1 > div > input{width: calc(100% - 90px);}
.pop_content > .section_1 > div > select{width: calc(100% - 90px); background-position: 95% 50%;}

.pop_content > .section_2{width: 25%; margin-left: 13px;}
.pop_content > .section_2 > div{}
.pop_content > .section_2 > div > span{width: 80px;}
.pop_content > .section_2 > div > input{width: calc(100% - 80px);}
.pop_content > .section_2 > div > select{width: calc(100% - 80px);}

.pop_content > .section_3{width: 25%;}
.pop_content > .section_3 > div{}
.pop_content > .section_3 > div > span{width: 80px;}
.pop_content > .section_3 > div > input{width: calc(100% - 80px)}
.pop_content > .section_3 > div > select{width: calc(100% - 80px)}

/* pop up button */
.button{width: 600px; margin: 0 auto;}
.button > button{display: inline-block; float: left; width: 25%; height: 40px; background: #fff; border: 1px solid #9b9b9b; font-size: 18px; margin-right: -1px; cursor: pointer;}
.button > button:hover, .button > button:focus {background: #4753fe; color: #fff;}

/* 회원가입 승인 pop */
.join_pop{display: none; background: #fff; width: 600px; border-radius: 10px; font-size: 16px; text-align: center; padding: 30px;}
.join_pop > p{font-size: 25px; text-align: center; margin: 10px 0; font-weight: bold;}
.join_pop > div{margin: 20px 0 0;}
.join_pop > div > input{width: 150px; height: 40px; margin: 0 10px; cursor: pointer;}
.join_pop > div > input:nth-of-type(2){background: #707070; border: 0; color: #fff; font-size: 16px;}

.inn_pop_close{display: inline-block; position: absolute; top: 20px; right: 30px; width: 25px; height: 25px;}
.inn_pop_close > img{width: 25px; height: 25px;}

/* 장기 일당 계약자 팝업 */
.long_term_pop{display: none; z-index: 5; width: 100%; height: 100%; background: rgba(0,0,0,0.8); position: absolute; top: 0; left: 0;}
.long_term_pop h5{font-size: 22px; text-align: center; font-weight: 600; margin-bottom: 20px;}
.long_term_content{}
.long_term_content > li{display: inline-block;}
.long_term_content > li:after{content: ""; display: block; clear: both;}
.long_term_content > li > div{float: left; margin-bottom: 5px;}
.long_term_content > li > div > span{display: inline-block; width: 120px; text-indent: 10px;}
.long_term_content > li > div > input{display: inline-block;  width: 310px;}

.long_term_button{width: 400px; margin: 0 auto; margin-top: 20px;}
.long_term_button > button{display: inline-block; float: left; width: 50%; height: 40px; background: #fff; border: 1px solid #9b9b9b; font-size: 18px; margin-right: -1px; cursor: pointer;}
.long_term_button > button:hover, .button > button:focus {background: #4753fe; color: #fff;}
